<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy Store</title>
</head>
<body>
        <h1 style="background-color:Tomato;text-align:center; ">Toy Store View</h1>
        <h2 style="text-align:center; " ><a href="/new">New product</a></h1>  
        <br>
        <h2 style="text-align:center;"><a href="/view">View product</a></h2>  
</body>
</html>
