<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center;background-color:Orange;">New Product</h1>
    <form style="text-align:center;" action="/insertProduct" method="post">
    Product name <input type="text" name="txtName" id="">
    <br>
    Price <input type="text" name="txtPrice" id="">
    <br>
    Image <input type="text" name="txtImage" id="">
    <br>
    <input type="submit" name="" id="" value="insert">
    </form>
</body>
</html>